theme:template(title="Start a Fundraiser", name="_default")
  content
    div(class='page page-get-started page-sidebar')
      .jumbotron: .container
        h1(class='tr-up') Start A Fundraiser
      .container#main: .content: .row
        .col.col-sm-12.col-md-8
          h4 Help support Big Brothers Big sisters of Colorado by fundraising for us.
          strong You choose how, anything from running a marathon to hosting a birthday party and everything in between. You ask your friends, family and co-workers to support you in your adventure while supporting Big Brothers Big Sisters of Colorado.
          p You can get started today by following these 3 simple steps:
          ol.counter
            li
              p.head.tr-up Step one
              p Decide to participate as an individual or as a team and click the appropriate link below.
            li 
              p.head.tr-up Step Two
              p Create your personal page. Decide on a fundraising goal for yourself or your team, and upload a photo of yourself, a description of the event you are participating in, and talk about why you are raising funds for Big Brothers Big Sisters of Colorado. If you have created a team event, invite your friends to join your team.
            li 
              p.head.tr-up Step Three
              p Share your personal fundraising page on your facebook, twitter, and other social media sites. Send an email with your page’s link to all your friends, family, and co-workers and ask them to support you in your adventure while supporting Big Brothers Big Sisters of Colorado.
          h1 Get Started Now
          .row.tr-up.center.actions
            .col.col-sm-6.col-md-4
              a(href='#')
                div.orange Start Your<br>Own Team
            .col.col-sm-6.col-md-4
              a(href='#')
                div.purple Join A Team
            .col.col-sm-6.col-md-4
              a(href='#')
                div.green Register As<br>An Individual
          p If you have any questions regarding Big Brothers Big Sisters of Colorado ability to help you fundraise please click 
            a(href='#') here
            |&nbsp;to view our Third Party Event Agreement or call Dustin at (303) 433-6002 x511.
        .col.col-sm-12.col-md-4
          .sidebar
            .input-icon
              form
                input(type='search' name='q' placeholder='Find a Team or Participant by name...')
              i.icon-search
            section.donations
              h3 Recent Donations
              ul
                li
                  .pull-left Joe Baker
                  .pull-right $50.00
                li
                  .pull-left Paul Isaacs
                  .pull-right $1,500.00
                li
                  .pull-left Marcie Little
                  .pull-right $25.00
                li
                  .pull-left Jon Bell
                  .pull-right $100.00
                li
                  .pull-left Chris McIntire
                  .pull-right $250.00
                li
                  .pull-left Katie Ellis
                  .pull-right $50.00
                li
                  .pull-left Sylvia Sedrik
                  .pull-right $15.00
                li
                  .pull-left Jessica Taylor
                  .pull-right $25.00
                li
                  .pull-left Rita DeFord
                  .pull-right $100.00
                li
                  .pull-left Daniel Price
                  .pull-right $250.00
            section.fundraisers
              h3 Top Fundraisers
              ul
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') John Doe
                    p Testing
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') Chris McIntire
                    p $1,500.00
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') Matthew and Mary Williams
                    p $1,500.00