//- include ../includes/_mixins.jade

doctype html
html(lang="en")
  head
    title {:options.title} - Big Brothers Big Sisters of Colorado
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // build:css /styles/main.css
    link(href='assets://css/main.css', rel='stylesheet')
    // endbuild

    // Ridiculously Responsive Social Sharing Buttons
    link(href='assets://css/rrssb.css', rel='stylesheet')

    // Font Awesome Icon Font
    link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')

    // Typekit
    script(src="//use.typekit.net/duk0vdw.js")
    script.
      try{Typekit.load();}catch(e){}

  body(class=page)
    theme:embed(file="includes/fundraiser")
    #canvas
      header(class='nav nav-main'): .container
        div(class='logo pull-left'): a(href='/')
          .show-md
            img(src='assets://images/bbbs-logo-white.png' alt='Big Brothers Big Sisters of Colorado' width='344' height='66')
          .show-sm
            img(src='assets://images/bbbs-icon-white.png' alt='Big Brothers Big Sisters of Colorado' width='' height='66')
        ul(class='pull-right tr-up lg-navigation')
          li: a(href='/enroll-a-child') Enroll a Child
          li: a(href='/volunteer') Volunteer
          li: a(href='#') Our Programs
          li: a(href='/about-us') About Us
          li: a(href='/donate') Support Us
          li: a(href='/events') Events
          li: a(href='/for-bigs') For Bigs
          li: a(href='#/my/donate', class='donate-button') Donate
          li.buttons: .place
            span.login Login
            span.lgbt
              table
                tr: td(style="background:#e30505;")  
                tr: td(style="background:#f80;")  
                tr: td(style="background:#ffea00;")  
                tr: td(style="background:#008024")  
                tr: td(style="background:#0051ff")  
                tr: td(style="background:#720885")  
        ul(class='pull-right tr-up md-navigation')
          li: a(href='/volunteer') Volunteer
          li: a(href='#') Our Programs
          li: a(href='/about-us') About Us
          li: a(href='/events') Events
          li: a(href='#/my/donate', class='donate-button') Donate
          li.toggle-navigation: i#md-navigation: span
          li.buttons: .place
            span.login Login
            span.lgbt
              table
                tr: td(style="background:#e30505;")  
                tr: td(style="background:#f80;")  
                tr: td(style="background:#ffea00;")  
                tr: td(style="background:#008024")  
                tr: td(style="background:#0051ff")  
                tr: td(style="background:#720885")

        ul(class='pull-right sm-navigation')
          li: a(href='#/my/donate', class='donate-button') Donate
          li.toggle-navigation: i#sm-navigation: span
          li.buttons: .place
            span.login Login
            span.lgbt
              table
                tr: td(style="background:#e30505;")  
                tr: td(style="background:#f80;")  
                tr: td(style="background:#ffea00;")  
                tr: td(style="background:#008024")  
                tr: td(style="background:#0051ff")  
                tr: td(style="background:#720885")  

        div(class='laptop-menu bar'): .container
          ul.menu
            li: a(href='/enroll-a-child') Enroll a Child
            li: a(href='/donate') Support Us
            li: a(href='/for-bigs') For Bigs

        div(class='mobile-menu modal')
          i.close.active: span
          ul.menu
            li: a(href='/enroll-a-child') Enroll a Child
            li: a(href='/volunteer') Volunteer
            li: a(href='#') Our Programs
            li: a(href='/about-us') About Us
            li: a(href='/donate') Support Us
            li: a(href='/events') Events
            li: a(href='/for-bigs') For Bigs

      <:jolt placeholder="content" />

      // Footer
      footer: .container: .row
        div(class='col col-sm-12 col-md-4 menus'): .row
          div(class='col col-sm-6 col-md-5')
            ul(class='menu bold')
              li: a(href='/') Home
              li: a(href='/about-us') About
              li: a(href='#') Our Programs
              li: a(href='#') Get Involved
              li: a(href='/events') Events
              li: a(href='/for-bigs') For Bigs
          div(class='col col-sm-6 col-md-7')
            ul(class='menu')
              li: a(href='#') Our Staff
              li: a(href='#') Our History
              li: a(href='#') Board of Directors
              li: a(href='#') Careers
              li: a(href='#') FAQ's
              li: a(href='/contact-us') Contact Us
        div(class='col col-sm-12 col-md-4 center')
          p &nbsp;
        div(class='col col-sm-12 col-md-4 right meta')
          a(href='#' class='donate-button tr-up') Donate
          ul.social
            li: a(href='#'): i.fa.fa-facebook
            li: a(href='#'): i.fa.fa-twitter
            li: a(href='#'): i.fa.fa-linkedin
            li: a(href='#'): i.fa.fa-youtube-play
          div.meta-copyright
            p(class='tr-up') Made with &#10084; in Colorado
            small &copy; Copyright 2014 Big Brothers Big Sisters of Colorado

    // build:js /scripts/vendor.min.js
    script(src='assets://js/jquery.min.js')
    script(src='assets://js/modernizr-2.6.2-respond-1.1.0.min.js')
    script(src='assets://js/rrssb.min.js')
    script(src='assets://js/freewall.min.js')
    script(src='assets://js/unslider.min.js')
    // endbuild

    // build:js /scripts/main.js
    script(src='assets://js/main.js')
    // endbuild