theme:template(title="Start a Fundraiser", name="_default")
  content
    div(class='page page-bowl')
      .jumbotron.sixteen-nine
        .container
          h1.tr-up Bowl for Kids' Sake
            .thin-text 2015
      .container.thin: .align-center.content-area
        h1 About
        p Bowl For Kids’ Sake is Big Brothers Big Sisters’ signature fundraiser. Each year half-a-million people across America come together to have fun and raise money to support Big Brothers Big Sisters as we change how children grow up! Bowl For Kids’ Sake is the perfect way for individuals to make an impact on our community - it takes minimal effort to raise the money that is so vital to our program’s success.
        h4.tr-up Find our more about Bowl for Kids' Sake in your area.
        a(href='/bowl-for-kids-sake/denver', class='btn btn-green') Denver
        a(href='/bowl-for-kids-sake/pikes-peak', class='btn btn-green') Pikes Peak