theme:template(title="Volunteer", name="_default")
  content
    div(class='page page-contact')
      .jumbotron: .container
        h1(class='tr-up') We're eager to hear from you
          p Simply call, email, or use the form below to get in touch.
        a(href='#', class='btn btn-white') Volunteer As A Mentor
        a(href='#', class='btn btn-white') Enroll A Child
      .container.thin#main: .row
        .col.col-sm-12.col-md-8.content
          h2.tr-up Send Us a Message
          form.form
            div.input-group.split
              label(for='first') Your Name*
              .input-column
                input(type='text', name='contact[firstName]', placeholder='First Name', id='first')
              .input-column
                input(type='text', name='contact[lastName]', placeholder='Last Name', id='last')
            div.input-group
              label(for='email') Your Email*
              input(type='text', name='contact[email]', placeholder='Email Address', id='email')
            div.input-group.split
              .input-column
                label(for='phone') Your Phone Number*
                input(type='text', name='contact[phone]', placeholder='(000) 123 - 4567', id='phone')
              .input-column
                label(for='zip') Your Zip Code*
                input(type='text', name='contact[email]', placeholder='Zip Code', id='zip')
            div.input-group
              label(for='message') Message*
              textarea(id='message', rows='6')
            button(type='submit', class='tr-up form-button') Submit Message
        .col.col-sm-12.col-md-4.sidebar
          h2.tr-up Connect on Social Media
          .table: h2.tr-up Denver
          //- GENERAL CONTACT
          section.general
            strong General Inquiries
            address Phone: 303-433-6002
            address Fax: 303-455-0252
          //- DONATION CONTACT
          section.donate
            strong Donation-Related Inquiries
            address Please call: 303-800-7266
          //- ADDRESS
          section.address
            strong Office Address
            address 1391 N Speer Blvd, Ste 450
            address Denver, CO 80204
          .table: h2.tr-up Pikes Peak
          //- GENERAL CONTACT
          section.general
            strong General Inquiries
            address Phone: 719-633-2443
            address Fax: 719-473-6362
          //- DONATION CONTACT
          section.donate
            strong Donation-Related Inquiries
            address Please call: 719-359-9843
          //- ADDRESS
          section.address
            strong Office Address
            address 111 S Tejon St, Ste 302
            address Colorado Springs, CO 80903