theme:template(title="Volunteer", name="_default")
  content
    theme:embed(file="includes/form-volunteer-pikes")
    theme:embed(file="includes/form-volunteer-denver")
    div(class='page page-volunteer', :load=":api(3.0).content(site.volunteer) as page")
      .jumbotron.sixteen-nine(style='background-image: url({header.relationships(images,attachments).random().version(,)})'): .container
        h1(class='tr-up') Volunteer
      .container.thin#main: .content
        .center
          h1 The Impact You Can Have
          {page.content.content}
          //- {page.content.volunteerguide}
          //- p Because of positive Big Brothers and Big Sisters, Little Brothers and Little Sisters in our programs are MORE LIKELY to:
          //- ul.stars.thin: .row
            .col.col-sm-12.col-md-6
              li Have better attitudes towards school
              li Get along better with adults and peers
            .col.col-sm-12.col-md-6.left
              li Have better self-esteem
              li Have a better sense of their future.
          .row
            .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green', target='_blank') Mentor in Denver
            .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green', target='_blank') Mentor in Pikes Peak
            //- //@IF page.content.denver.external
            //- .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green', target='_blank') {page.content.denver.text}
            //- //@ELSE
            //- .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green') {page.content.denver.text}
            //- //@ENDIF
            //- //@IF page.content.pikes.external
            //- .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green', target='_blank') {page.content.pikes.text}
            //- //@ELSE
            //- .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green') {page.content.pikes.text}
            //- //@ENDIF
          {page.content.video}
          hr
          {page.content.contenttwo}
          .row
            .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green', target='_blank') Mentor in Denver
            .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green', target='_blank') Mentor in Pikes Peak
            //- //@IF page.content.denver.external
            //- .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green', target='_blank') {page.content.denver.text}
            //- //@ELSE
            //- .col.col-sm-12.col-md-6.right: a(href='{page.content.denver.href}', class='btn-green') {page.content.denver.text}
            //- //@ENDIF
            //- //@IF page.content.pikes.external
            //- .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green', target='_blank') {page.content.pikes.text}
            //- //@ELSE
            //- .col.col-sm-12.col-md-6.left: a(href='{page.content.pikes.href}', class='btn-green') {page.content.pikes.text}
            //- //@ENDIF
      .sub-footer: .container.thin: .row
        //- .col.col-sm-12.col-md-8
        //-   h1 Want to Learn More?
        //-   p Check out this helpful PDF with the whole mentor process outlined.
        //- .col.col-sm-12.col-md-4.rightv
        //-   a(href='http://biglittlecolorado.org/documents/gettingstartedvolunteerguide.pdf' class='btn-base', target='_blank') Download Guide
        h1 Mentor Process
        .page.page-mentor-support: .faq.resources: ul(:load="page.relationships(faq) as qa", :iterate="contents")
          li: dl
            dt {qa.content.question}
            dd {qa.content.answer}
        h1(style='margin-top: 40px !important;') Frequently Asked Questions
        .page.page-mentor-support: .faq.resources: ul(:load="page.relationships(actualfaq) as qa", :iterate="contents")
          li: dl
            dt {qa.content.question}
            dd {qa.content.answer}
