.page.page-post
	color $text
	.container
		padding-bottom 60px
		padding-top 60px
		article
			section.article-title
				margin-bottom 30px
				a
					color #A1A1A1
					transition color 300ms ease
					&:hover
						color darken(#A1A1A1, 25%)
				h1
					font-size 48px
					margin-bottom 0
				p
					font-size 20px
					line-height 30px
					margin-top 0
				img
					height auto
					max-width 100%
			section.article-content
				//
				// Typography
				// ==========
				// Headings
				// ----------
				h1, h2, h3, h4, h5, h6
					color darken(#A1A1A1, 25%)
					margin 0 0 10px
					small, .small
						color #A1A1A1
						font-weight 300
				// Paragraphs
				// ----------
				p
					color #A1A1A1
					font-size 20px
					font-weight 300
					line-height 32px
					margin 0 0 16px
				small
					font-size 65%
				strong
					color #575757
				// Lists
				// ----------
				ul, ol
					color #A1A1A1
					font-size 20px
					font-weight 300
					line-height 32px
				// Misc
				// ----------
				hr
					background-color #A1A1A1
					border 0
					height 1px
					margin 30px 0
				img
					margin 0 0 15px
					max-width 100%