@font-face
  font-family 'bbbs'
  src url('../font/bbbs.eot?77507373')
  src url('../font/bbbs.eot?77507373#iefix') format('embedded-opentype'),
       url('../font/bbbs.woff?77507373') format('woff'),
       url('../font/bbbs.ttf?77507373') format('truetype'),
       url('../font/bbbs.svg?77507373#bbbs') format('svg')
  font-weight normal
  font-style normal

[class^="icon-"]:before, [class*=" icon-"]:before, .bbbs-icon
  font-family "bbbs"
  font-style normal
  font-weight normal
  speak none
  display inline-block
  text-decoration inherit
  width 1em
  margin-right .2em
  text-align center
  font-variant normal
  text-transform none
  line-height 1em
  margin-left .2em

.icon-post
  &:before
    content '\e800'

.icon-play
  &:before
    content '\e801'

.icon-guidelines
  &:before
    content '\e802'

.icon-pdf
  &:before
    content '\e803'

.icon-resources
  &:before
    content '\e804'

.icon-question
  &:before
    content '\e805'

.icon-search
  &:before
    content '\e806'

.icon-checklist
  &:before
    content '\e807'

.icon-cal
  &:before
    content '\e808'

.icon-idea
  &:before
    content '\e809'