.glass-event__wrapper(id='{event.id}')
  .wrapper__body
    span.shut
    //- .body__header
      ul
        li.active(data-target='overview')
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 90 90" enable-background="new 0 0 90 90" xml:space="preserve" height="16px" width="16px" style="position: relative; top: 3px; right: -3px; margin-right: 5px;" stroke="currentColor" fill="currentColor">
          <g>
          <g>
          <path d="M55,83.5h-0.2c-0.4,0-0.7-0.2-0.9-0.5s-0.2-0.7,0-1l0.1-0.1c0.1-0.2,0.4-0.4,0.6-0.5c0.3-0.1,0.5,0,0.8,0.1l0.1,0.1    c0.3,0.2,0.5,0.5,0.5,0.9c0,0.4-0.2,0.7-0.5,0.9C55.4,83.4,55.2,83.5,55,83.5z"/>
          </g>
          <g>
          <path d="M62.4,56c-0.2,0-0.3,0-0.5-0.1c-0.3-0.2-0.5-0.5-0.5-0.9V23.9L34.5,8.4c-0.4-0.2-0.6-0.7-0.5-1.1s0.5-0.7,1-0.7h20    c0.2,0,0.3,0,0.5,0.1l17.4,10c0.3,0.2,0.5,0.5,0.5,0.9v31.7c0,0.4-0.2,0.7-0.5,0.9l-10,5.8C62.7,56,62.6,56,62.4,56z M38.7,8.5    l24.1,13.9c0.3,0.2,0.5,0.5,0.5,0.9v30l8-4.6V18.2L54.8,8.5H38.7z"/>
          </g>
          <g>
          <path d="M55.1,83.4c-0.2,0-0.3,0-0.5-0.1L27.1,67.4c-0.3-0.2-0.5-0.5-0.5-0.9V55c0-0.4,0.2-0.7,0.5-0.9c0.3-0.2,0.7-0.2,1,0    l26.9,15.6l26.9-15.5c0.4-0.2,0.9-0.2,1.2,0.2s0.4,0.8,0.2,1.2l-10,17.3c-0.1,0.2-0.2,0.3-0.4,0.4l-17.3,10    C55.4,83.4,55.2,83.4,55.1,83.4z M28.6,66l26.5,15.3l16.6-9.6l8-13.9L55.6,71.7c-0.3,0.2-0.7,0.2-1,0l-25.9-15V66z"/>
          </g>
          <g>
          <path d="M55.1,71.9c-0.2,0-0.3,0-0.5-0.1l-10.1-5.8c-0.3-0.2-0.5-0.5-0.5-0.9s0.2-0.7,0.5-0.9l26.9-15.5V17.6c0-0.5,0.3-0.8,0.7-1    c0.4-0.1,0.9,0.1,1.1,0.5l10,17.3c0.1,0.2,0.2,0.4,0.2,0.5V55c0,0.2,0,0.3-0.1,0.5c-0.1,0.2-0.2,0.3-0.4,0.4L55.6,71.7    C55.4,71.8,55.2,71.9,55.1,71.9z M47,65.1l8.1,4.7l26.4-15.2V35.2l-8-13.9v27.9c0,0.4-0.2,0.7-0.5,0.9L47,65.1z"/>
          </g>
          <g>
          <path d="M7.6,36c-0.3,0-0.7-0.2-0.9-0.5l0-0.1c-0.2-0.3-0.2-0.7,0-1l10-17.3c0.1-0.2,0.2-0.3,0.4-0.4l17.3-10    c0.3-0.2,0.8-0.2,1.1,0l27.4,15.8c0.3,0.2,0.5,0.5,0.5,0.9V35c0,0.4-0.2,0.7-0.5,0.9c-0.3,0.2-0.7,0.2-1,0L35,20.3L8.1,35.8    C7.9,35.9,7.8,36,7.6,36z M35,18.2c0.2,0,0.3,0,0.5,0.1l25.9,14.9v-9.3L35,8.7l-16.7,9.6l-8.1,14l24.3-14    C34.7,18.2,34.8,18.2,35,18.2z"/>
          </g>
          <g>
          <path d="M17.6,73.4c-0.4,0-0.7-0.2-0.9-0.5l-10-17.4c-0.1-0.2-0.1-0.3-0.1-0.5V35c0-0.4,0.2-0.7,0.5-0.9l27.5-15.9    c0.3-0.2,0.7-0.2,1,0l10,5.8c0.3,0.2,0.5,0.5,0.5,0.9s-0.2,0.7-0.5,0.9L18.6,41.3v31.1c0,0.5-0.3,0.8-0.7,1    C17.8,73.4,17.7,73.4,17.6,73.4z M8.5,54.8l8,13.9V40.8c0-0.4,0.2-0.7,0.5-0.9l25.9-15l-8-4.6L8.5,35.6V54.8z"/>
          </g>
          <g>
          <path d="M54.9,83.5H35c-0.2,0-0.4,0-0.5-0.1l-17.4-10c-0.3-0.2-0.5-0.5-0.5-0.9V40.8c0-0.4,0.2-0.7,0.5-0.9l10-5.8    c0.3-0.2,0.7-0.2,1,0s0.5,0.5,0.5,0.9v31l26.8,15.5c0.5,0.3,0.6,0.9,0.4,1.4L55.7,83C55.6,83.3,55.2,83.5,54.9,83.5z M35.2,81.5    h16.1l-24.3-14c-0.3-0.2-0.5-0.5-0.5-0.9V36.7l-8,4.6v30.5L35.2,81.5z"/>
          </g>
          <g>
          <rect x="45" y="24.9" fill="none" width="0" height="0"/>
          </g>
          <g>
          <rect x="45" y="65.1" fill="none" width="0" height="0"/>
          </g>
          </g>
          </svg>
          | Overview
        //- li.pad-left(data-target='#tickets')
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" style="position: relative; top: 7px; margin-right: -5px; left: -3px;" fill="currentColor" stroke="currentColor">
          <path d="M56.904,33.751c-0.269-0.269-0.633-0.419-1.014-0.419c-0.379,0-0.742,0.151-1.011,0.419L33.752,54.879  c-0.269,0.269-0.42,0.632-0.42,1.012c0,0.378,0.152,0.743,0.42,1.012l9.346,9.344c0.279,0.28,0.645,0.418,1.012,0.418  c0.365,0,0.732-0.138,1.012-0.418l21.127-21.127c0.559-0.56,0.559-1.465,0-2.023L56.904,33.751z M44.109,63.211l-7.32-7.32  l19.102-19.104l7.322,7.322L44.109,63.211z"/>
          <path d="M80.83,41.008l-7.478-7.476c-0.558-0.56-1.464-0.56-2.023,0c-0.649,0.649-1.513,1.008-2.431,1.008  c-0.917,0-1.781-0.359-2.43-1.009c-0.65-0.65-1.007-1.513-1.007-2.431c0-0.918,0.356-1.781,1.007-2.43  c0.268-0.269,0.418-0.634,0.418-1.012c0-0.38-0.15-0.743-0.418-1.012l-7.477-7.476c-0.559-0.56-1.465-0.56-2.023,0L19.172,56.969  c-0.27,0.268-0.42,0.632-0.42,1.01c0,0.38,0.15,0.745,0.42,1.013l7.475,7.477c0.559,0.558,1.465,0.558,2.024,0  c0.649-0.651,1.513-1.008,2.431-1.008s1.782,0.356,2.43,1.008c1.341,1.34,1.341,3.521,0,4.861c-0.558,0.559-0.558,1.464,0.002,2.024  l7.477,7.476c0.267,0.269,0.631,0.419,1.01,0.419s0.744-0.151,1.012-0.419L80.83,43.032C81.387,42.472,81.387,41.566,80.83,41.008z   M42.02,77.793l-5.568-5.569c1.511-2.429,1.213-5.672-0.896-7.78c-1.188-1.19-2.77-1.846-4.453-1.846  c-1.194,0-2.338,0.33-3.328,0.948l-5.567-5.568L57.98,22.207l5.566,5.566c-0.617,0.99-0.947,2.133-0.947,3.328  c0,1.683,0.654,3.266,1.846,4.455c1.188,1.189,2.771,1.846,4.453,1.846c1.195,0,2.339-0.332,3.328-0.949l5.567,5.567L42.02,77.793z"/>
          </svg>
          | Tickets
        li.pad-left(data-target='schedule')
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Your_Icon" x="0px" y="0px" width="18px" height="18px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" fill="currentColor" stroke="currentColor" style="position: relative; top: 4px; margin-right: 3px;">
          <g>
          <path d="M91.952,12.107H72.972V7.931c0-1.687-1.361-3.048-3.048-3.048c-1.687,0-3.048,1.362-3.048,3.048v4.176H33.114V7.931   c0-1.687-1.362-3.048-3.048-3.048c-1.676,0-3.048,1.362-3.048,3.048v4.176H8.048C6.361,12.107,5,13.469,5,15.155v76.914   c0,1.676,1.361,3.048,3.048,3.048h83.904c1.676,0,3.048-1.372,3.048-3.048V15.155C95,13.469,93.628,12.107,91.952,12.107z    M11.096,18.203h15.921v4.176c0,1.687,1.372,3.048,3.048,3.048c1.687,0,3.048-1.362,3.048-3.048v-4.176h33.763v4.176   c0,1.687,1.362,3.048,3.048,3.048c1.687,0,3.048-1.362,3.048-3.048v-4.176h15.931v16.856H11.096V18.203z M88.904,89.021H11.096   V41.155h77.808V89.021z"/>
          </g>
          <g>
          <path d="M42.996,80.241c-1.122,0-2.032-0.91-2.032-2.032V55.281H37.4c-1.122,0-2.032-0.91-2.032-2.032   c0-1.122,0.91-2.032,2.032-2.032h5.597c1.122,0,2.032,0.91,2.032,2.032v24.96C45.028,79.332,44.119,80.241,42.996,80.241z"/>
          </g>
          <g>
          <path d="M62.594,80.241c-1.122,0-2.032-0.91-2.032-2.032V55.281h-3.565c-1.122,0-2.032-0.91-2.032-2.032   c0-1.122,0.91-2.032,2.032-2.032h5.597c1.122,0,2.032,0.91,2.032,2.032v24.96C64.626,79.332,63.716,80.241,62.594,80.241z"/>
          </g>
          </svg>
          | Schedule
    .body__hero(style='background-image: url({event.photo_url})')
      .content
        h1 {event.name}
        //@IF event.prop.presented-by
        small Presented By: 
          strong {event.prop.presented-by}
        //@ENDIF
        p <span style="text-transform: uppercase;">{event.prop.start-time} {event.prop.start-time-meridiem} MT</span> | {event.timestamp.start.unix|date(l)}, {event.timestamp.start.unix|date(M)} {event.timestamp.start.unix|date(jS Y)}
        p {event.location_name}
      .hero__overlay
      .button-group: ul
        li.share Invite Friends
          ul.options
            li: a(href='https://www.facebook.com/dialog/feed?app_id=929983597012726&display=popup&href=http://bbbsc.donate.io/events/%23/event/{event.id}&redirect_uri=http://bbbsc.donate.io/events/%23/event/{event.id}&description={event.summary|strip_tags}&caption={event.name}&picture={:e.url.link([event.photo_url])}', class='popup') Facebook
            li: a(href='http://twitter.com/home?status={event.summary|strip_tags|limitstring(80,...)} - www.bbbsc.donate.io/events/#/event/{event.id}', class='twitter-share popup') Twitter
            li: a(href='mailto:?subject={event.name} - Big Brothers Big Sisters of Colorado&body=www.bbbsc.donate.io/events/#/event/{event.id}') Email
        li.middle: span(class='addtocalendar atc-style-menu-wb', data-on-button-click='atcButtonClick', data-on-calendar-click='atcCalendarClick')
          .atcb-link Add To Calendar
          var.atc_event
            //@IF event.prop.start-time
            var.atc_date_start {event.timestamp.start.unix|date(o-m-d)} {event.prop.start-time}:00
            //@ENDIF
            //@IF event.prop.end-time
            var.atc_date_end {event.timestamp.until.unix|date(o-m-d)} {event.prop.end-time}:00
            //@ENDIF
            var.atc_timezone America/Chicago
            var.atc_title {event.name}
            var.atc_description {event.summary|strip_tags}
            var.atc_location {event.location}
            var.atc_organizer {event.owner.name}
            //- {event.owner|dump}
            //- var.atc_organizer_email luke@starwars.com
        li.disabled Save This Event
    #container.nano.tab.schedule: .body__content.nano-content(style="min-height: 360px;")
      .content__section
        h2 Event Schedule
        p Do we have this information?
    //- #container.nano.tab#tickets: .body__content.nano-content(style="min-height: 360px;")
      h2 Event Tickets
      table
        tr
          th Ticket Type
          //- th Remaining
          th Amount
          th QTY
          th Total
        tr(:load="event.ticket_classes as ticket", :iterate="self")
          td {ticket.name}
            //@IF ticket.description
            br
            small {ticket.description}
            //@ENDIF
          td {ticket.price|money}
          td
            select
              option 01
              option 02
              option 03
              option 04
              option 05
            .drop: i.fa.fa-angle-down
          td [UPDATE]
        tr(:load="event.ticket_classes as ticket", :iterate="self")
          td {ticket.name}
          td {ticket.price|money}
          td: select
            option 1
            option 2
            option 3
          td [UPDATE]
        tr(:load="event.ticket_classes as ticket", :iterate="self")
          td {ticket.name}
          td {ticket.price|money}
          td: select
            option 1
            option 2
            option 3
          td [UPDATE]

    #container.nano.tab.in.overview: .body__content.nano-content(style="min-height: 360px;")
      .content__section
        h2 Event Overview
        p {event.summary}
      .content__section
        h3 ABOUT THE EVENT
        p {event.description}
      //- .content__section
        h3 TOURNAMENT FORMAT
        p *Where does this section come from?
        p The tournament format is co-ed rotating pairs. Sign up with a co-ed partner and keep that partner for the entire tournament. Each co-ed team is assigned to a pool and plays one game with each of the other co-ed teams in their pool. Since this tournament is open to anyone, your first pools will have all different skill-levels and experience. Based on team record, your team can advance through the tournament with each division having a net of the Final Four teams to determine the winner. Each team is guaranteed two rounds of pool play (6+ matches to 21) followed by more rounds for the finalists, for a $60 per team. 
      .content__section
        h2 Attendees
        .row.col-offset.attendees(:load="event.members.limit(11) as members")
          .col.col-sm-1(:load="members as member", :iterate="self"): .avatar
            //@IF member.photos.length >= 1
            img(src='{member.photo_url}')
            //@ELSE 
            img(src='assets://images/dummy/placeholder.png')
            //@ENDIF
          //@IF members.length >= 12
          .col.col-sm-1: .avatar.more
            small See All 
              br
              {members.length}+
          //@ENDIF
      .content__section
        h2 Location
        .location
          .address
            //- SVG HERE
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" height="32px" viewBox="19.785 65.718 63.181 100" enable-background="new 19.785 65.718 63.181 100" xml:space="preserve" fill="currentColor" style="position: absolute; top: 4px; left: 0;">
            <path d="M67.463,129.923C54.3,148.789,52.398,164.73,52.398,164.73c-0.292,1.316-1.462,1.316-1.755,0  c0,0-2.486-15.941-15.356-34.808c-10.676-14.918-15.502-20.769-15.502-32.907c0-17.404,13.894-31.298,31.444-31.298  c17.404,0,31.737,13.894,31.737,31.298C82.966,109.154,73.605,121.001,67.463,129.923z M63.66,97.601  c0-6.728-5.265-11.992-12.139-11.992c-6.436,0-11.847,5.265-11.847,11.992s5.411,12.432,11.847,12.432  C58.396,110.032,63.66,104.328,63.66,97.601z"/>
            </svg>
            small: strong ADDRESS
            p {event.location}
          .gradient-overlay
          //- Load a Google Map here from the Address Rainmaker Stores
          <iframe width="100%" height="125" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q={event.location|urlencode}&key=AIzaSyBIjBo-KW6dL9ZdvRYT6HrAsHClQRlP6Hw"></iframe>
      .content__section
        h2 Sponsors
        .row.col-offset
          .col.col-sm-12.col-md-6(:load="event.photos.tags(file:sponsor) as photo", :iterate="self")
            //@IF photo.title
            a(href='{photo.title}', target='_blank'): img(src='{photo.photo-url}')
            //@ELSE
            img(src='{photo.photo-url}')
            //@ENDIF
      //- .content__section
        h2 Testimonials
        p * Where does this section come from? 
        .row.col-offset
          .col.col-sm-6: blockquote
            p “I love this Big Brothers Big Sisters event. Every year I rally my co-workers and we go out and have a blast playing volleyball for a great cause.”
            strong - Jason Suthers
          .col.col-sm-6: blockquote
            p “It’s so much fun to have friendly competition with the people you know while also making new friends and awesome memories. I look forward to this event every year. It’s a must attend!”
            strong - MICHELLE WILLIAMS
    .body__footer
      //@IF :member.id
      p You're signed in as 
        a(href='#/my/account') {:member.name}.
      //@ELSE
      p Already have an account? 
        a(href='#') Sign In.
      //@END
      //@IF event.has_tag(group:closed)
      a(href='', class='btn disabled'): small REGISTRATION CLOSED
      //@ELSE
      a(href='#/my/checkout?group={event.id}', class='btn') REGISTER
      //@ENDIF