theme:template(title="Fundraising Teams", name="_default")
  content
    div(class='page page-teams page-sidebar')
      .jumbotron: .container
        h1(class='tr-up') Fundraising Teams
      .container#main: .content: .row
        .col.col-sm-12.col-md-8
          .table.tr-up: h2.tr-up Our Teams
          ul.teams: .row
            li
              .col.col-sm-12.col-md-4
                img(src='assets://images/dummy/tall-thumb.png')
              .col.col-sm-12.col-md-8
                h1 Team Name Goes Here
                p Team description goes here...Lorem ipsum dolor sit amet, tempor incididunt ut labore et dolore magna aliqua. Ut enniam, quis nostrud exercitation ullamco laboris nisi ut aliq...
                .progress-bar
                  .progress-bar-fill(style='width: 35%;')
                .stat-row
                  .stat
                    span.num 43%
                    span.text Funded
                  .stat
                    span.num $7,394
                    span.text Pledged
                  .stat
                    span.num 11
                    span.text Members
                  .stat
                    span.num 273
                    span.text Givers
                  .stat
                    span.num 01
                    span.text Updates
                a(href='#' class='btn-base tiny') Join This Team
            li
              .col.col-sm-12.col-md-4
                img(src='assets://images/dummy/tall-thumb.png')
              .col.col-sm-12.col-md-8
                h1 Team Name Goes Here
                p Team description goes here...Lorem ipsum dolor sit amet, tempor incididunt ut labore et dolore magna aliqua. Ut enniam, quis nostrud exercitation ullamco laboris nisi ut aliq...
                .progress-bar
                  .progress-bar-fill(style='width: 90%;')
                .stat-row
                  .stat
                    span.num 90%
                    span.text Funded
                  .stat
                    span.num $90,000
                    span.text Pledged
                  .stat
                    span.num 11
                    span.text Members
                  .stat
                    span.num 273
                    span.text Givers
                  .stat
                    span.num 01
                    span.text Updates
                a(href='#' class='btn-base tiny') Join This Team
            li
              .col.col-sm-12.col-md-4
                img(src='assets://images/dummy/tall-thumb.png')
              .col.col-sm-12.col-md-8
                h1 Team Name Goes Here
                p Team description goes here...Lorem ipsum dolor sit amet, tempor incididunt ut labore et dolore magna aliqua. Ut enniam, quis nostrud exercitation ullamco laboris nisi ut aliq...
                .progress-bar
                  .progress-bar-fill(style='width: 60%;')
                .stat-row
                  .stat
                    span.num 60%
                    span.text Funded
                  .stat
                    span.num $8,000
                    span.text Pledged
                  .stat
                    span.num 11
                    span.text Members
                  .stat
                    span.num 273
                    span.text Givers
                  .stat
                    span.num 01
                    span.text Updates
                a(href='#' class='btn-base tiny') Join This Team
        .col.col-sm-12.col-md-4
          .sidebar
            .action: a(href='#')
              div.orange.tr-up
                table
                  tr
                    td: img(src='assets://images/team.png')
                    td Start Your<br>Own Team
            .input-icon
              form
                input(type='search' name='q' placeholder='Find a Team or Participant by name...')
              i.icon-search
            section.donations
              h3 Recent Donations
              ul
                li
                  .pull-left Joe Baker
                  .pull-right $50.00
                li
                  .pull-left Paul Isaacs
                  .pull-right $1,500.00
                li
                  .pull-left Marcie Little
                  .pull-right $25.00
                li
                  .pull-left Jon Bell
                  .pull-right $100.00
                li
                  .pull-left Chris McIntire
                  .pull-right $250.00
                li
                  .pull-left Katie Ellis
                  .pull-right $50.00
                li
                  .pull-left Sylvia Sedrik
                  .pull-right $15.00
                li
                  .pull-left Jessica Taylor
                  .pull-right $25.00
                li
                  .pull-left Rita DeFord
                  .pull-right $100.00
                li
                  .pull-left Daniel Price
                  .pull-right $250.00
            section.fundraisers
              h3 Top Fundraisers
              ul
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') John Doe
                    p Testing
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') Chris McIntire
                    p $1,500.00
                li: .row
                  .col.col-sm-12.col-md-4
                    img(src='assets://images/dummy/thumb.png')
                  .col.col-sm-12.col-md-8
                    a(href='#') Matthew and Mary Williams
                    p $1,500.00